html {
  box-sizing: border-box;
  font-size: 62.5% !important;

  body {
    font-size: 1.4rem;
    background-color: $white-pink;

    .App {
      margin: 6rem auto;
      padding: 0 2rem;      
    }
  }
}